
.nav-tabs-custom {
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  min-height: 30px!important;
  border-bottom: none;
  padding-bottom: 0;
}
.nav-tabs-custom::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.item-tab {
  min-height: 55px!important;
  white-space: nowrap;
  padding: 10px;
  font-size: 1.1em !important;
  opacity: 0.7;
}
.item-tab.active {
  color: #b51818 !important;
  border-bottom: 2px solid #b51818;

}

.container{
  margin-top: 50px !important;
}

.clickActives {
  background-color: #ff4500 !important;
  color: white !important;
  white-space: nowrap;
  padding: 13px;
  font-size: 1.1em !important;
  opacity: 0.7;
}


.extraHeaders {
  position: fixed;
  left: 0;
  top: 50px;
  height: 50px;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #cbcbd1;
}
